<b-navbar wrapper-class="container">
    <template slot="brand">
        <b-navbar-item>🚌🚏</b-navbar-item>
    </template>
    <template slot="start">
        <b-navbar-item href="{{ url_for("frontend.index") }}">/</b-navbar-item>
        <b-navbar-dropdown label="Bus">
            <b-navbar-item href="{{ url_for("frontend.bus_index") }}">Services</b-navbar-item>
            <b-navbar-item href="#">Stops</b-navbar-item>
            <hr class="navbar-divider">
            <b-navbar-item></b-navbar-item>
        </b-navbar-dropdown>
    </template>
</b-navbar>
