<b-navbar wrapper-class="container">
    <template slot="brand">
        <b-navbar-item href="{{ url_for("frontend.index") }}">🚌🚏</b-navbar-item>
    </template>
    <template slot="start">
        <b-navbar-item href="{{ url_for("frontend.index") }}">/</b-navbar-item>
        <b-navbar-dropdown label="Bus">
            <b-navbar-item href="{{ url_for("frontend.service_index") }}">Services</b-navbar-item>
            <b-navbar-item href="{{ url_for("frontend.stop_index") }}">Stops</b-navbar-item>
        </b-navbar-dropdown>
        <b-navbar-item href="{{ url_for("frontend.mall_index") }}">Shopping Mall Volume</b-navbar-item>
        <b-navbar-item href="{{ url_for("frontend.all_tasks") }}">Tasks</b-navbar-item>
    </template>
</b-navbar>
