{% raw %}
<script type="text/x-template" id="mapper">
    <div style="height: 600px;">
        <l-map
                style="width: 100%"
                :zoom="zoom"
                :center="center"
                ref="leafmap"
                @ready="boundMapRects"
        >
            <l-tile-layer :url="url"></l-tile-layer>
            <l-marker v-if="marker" :lat-lng="marker"></l-marker>
            <l-polyline color="#121212" :lat-lngs="busRoute"></l-polyline>
            <template v-for="route in busStops">
                <template v-for="point in route">
                    <l-circle-marker :stroke="false" :fill-opacity="1.0" :radius="5" fill-color="#D85DA6"
                                     :lat-lng="point">
                        <l-tooltip>{{ point.stop_code }}: {{ point.name }}</l-tooltip>
                    </l-circle-marker>
                </template>
            </template>
        </l-map>
    </div>
</script>
<script type="text/x-template" id="stop-map">
    <div style="height: 600px;">
        <l-map
                style="width: 100%"
                :zoom="zoom"
                :center="center"
                ref="leafstopmap"
                @ready="boundMapRects"
        >
            <l-tile-layer :url="url"></l-tile-layer>
            <l-marker v-if="marker" :lat-lng="marker">
                <l-tooltip>{{ stop.name }}</l-tooltip>
            </l-marker>
        </l-map>
    </div>
</script>
<script type="text/x-template" id="bus-info">
    <section>
        <b-collapse
                class="card"
                animation="slide"
                v-for="(stop, index) of stops"
                :key="index"
                :open="false"
                @open="opening(index)">
            <div
                    slot="trigger"
                    slot-scope="props"
                    class="card-header"
                    role="button">
                <p class="card-header-title">
                    {{ stop.name }}
                </p>
                <a class="card-header-icon">
                    <b-icon :icon="props.open ? 'menu-up' : 'menu-down'"></b-icon>
                </a>
            </div>
            <bus-info-panel ref="bus-panel" :stop="stop" :index="index"></bus-info-panel>
        </b-collapse>
    </section>
</script>

<script type="text/x-template" id="bus-info-panel">
    <div class="card-content">
        <div class="content" v-if="isEmpty">
            <b-field grouped>
                <div class="control">
                    <b-taglist attached>
                        <b-tag><a :href="`/bus/stop/${stop.stop_code}`" type="is-dark">Stop</a></b-tag>
                        <b-tag><i @click="viewOnMap" class="mdi mdi-magnify"></i></b-tag>
                    </b-taglist>
                </div>

            </b-field>
            <section class="pt-1" v-for="(timings, service) of stopData">
                <div class="levels columns">
                    <div class="control">
                        <b-taglist>
                            <b-tag><a :href="`/bus/service/${service}`">{{ service }}</a></b-tag>
                        </b-taglist>
                    </div>
                    <div class="level-item has-text-centered column">
                        <div>
                            <p class="heading">Weekday</p>
                            <p class="title has-text-grey-dark">{{ timings.weekday.join(", ") }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered column">
                        <div>
                            <p class="heading">Saturday</p>
                            <p class="title has-text-grey-dark">{{ timings.saturday.join(", ") }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered column">
                        <div>
                            <p class="heading">Sunday</p>
                            <p class="title has-text-grey-dark">{{ timings.sunday.join(", ") }}</p>
                        </div>
                    </div>
                </div>
                <hr class="divider">
            </section>
        </div>
    </div>
</script>
<script type="text/x-template" id="toggle-day-type">
    <div>
        <button class="button is-primary" @click="toggleDayType">
            <span v-if="isWeekday">Show Weekends/Holidays Data</span>
            <span v-else>Show Weekdays Data</span>
        </button>
        <h2 class="has-text-centered is-size-2" v-if="isWeekday">Currently showing Weekdays Data</h2>
        <h2 class="has-text-centered is-size-2" v-else>Currently showing Weekends/Holidays Data</h2>
    </div>
</script>
<script type="text/x-template" id="mall-graphs">
    <div>
        <div v-if="isWeekday">
            <slot name="first"></slot>
        </div>
        <div v-else>
            <slot name="second"></slot>
        </div>
    </div>
</script>
<script type="text/x-template" id="mall-map">
    <div style="height: 300px;">
        <l-map
                style="width: 100%"
                :zoom="zoom"
                :center="center"
                ref="leafstopmap"
                @ready="boundMapRects"
        >
            <l-tile-layer :url="url"></l-tile-layer>
        </l-map>
    </div>
</script>
<script type="text/x-template" id="mall-table">
    <div>
        <b-table
            :data="data"
            :bordered="isBordered"
            :striped="isStriped"
            :hoverable="isHoverable"
            :sort-icon="sortIcon"
            :sort-icon-size="sortIconSize"
            default-sort="hour"
        >
            <b-table-column field="hour" label="Hour of Day" width="150" centered sortable numeric v-slot="props">
                {{ props.row.hour }}
            </b-table-column>
            <b-table-column field="volume" label="Volume of People" centered sortable numeric v-slot="props">
                {{ props.row.volume }}
            </b-table-column>
        </b-table>
    </div>
</script>
<script type="text/x-template" id="mall-list-table">
    <div>
        <b-table
            :data="data"
            :bordered="isBordered"
            :striped="isStriped"
            :hoverable="isHoverable"
            :columns="columns"
        >
        </b-table>
    </div>
</script>
{% endraw %}
