{% extends 'layouts/master.html' %}
{% block content %}
    <div class="column is-12">
        <section class="hero is-small mb-4">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Shopping Mall Foot Traffic</h1>
                    <p>View inferred foot traffic data of various shopping malls around Singapore based on the nearest MRT station's tap out data.
                        Simply choose a shopping mall from the table below and view some interesting information about it!</p>
                    <p class="has-text-weight-bold mt-3">Information: Click on the export button below to save the raw data in JSON format.</p>
                </div>
                <a class="button is-info mt-3" href="{{ url_for('frontend.available_task_export', slug='shopping-mall-traffic') }}">Export</a>
            </div>
        </section>
        <section>
            <mall-list-table :table-data="{{ malls }}"></mall-list-table>
        </section>
    </div>
{% endblock %}
