{% extends 'layouts/master.html' %}
{% block title %}All Services{% endblock %}
{% block content %}
    <div class="column is-12">
        <h1 class="title">All Services</h1>
        <b-table :data='{{ buses | tojson }}'
                 :debounce-search="500"
                 :paginated="true"
                 :per-page="15"
        >
            {% raw %}
            <b-table-column field="code" label="Service No." width="150" searchable sortable v-slot="props">
                <a :href="`/bus/service/${props.row.code}`">
                    {{ props.row.code }}
                </a>
            </b-table-column>
            <b-table-column field="name" label="Name" searchable sortable v-slot="props">
                {{ props.row.name }}
            </b-table-column>
            {% endraw %}
        </b-table>
    </div>
{% endblock %}
