{% extends 'layouts/master.html' %}
{% block content %}
    <div class="column is-12">
        <section>
            <mapper service='{{ service.bus_service_code }}'
                    :bus-stops='{{ service.stops|tojson }}'
                    :bus-route='{{ service.polyline|tojson }}'
            ></mapper>
        </section>
        <hr class="divider">
        {% for route in service.stops %}
            <section class="pb-1">
                <h1 class="title">
                    Route {{ loop.index }}
                </h1>
                <bus-info :stops='{{ route|tojson }}'></bus-info>
            </section>
        {% endfor %}
    </div>
{% endblock %}
