{% extends 'layouts/master.html' %}
{% block title %}Popular MRT Routes{% endblock %}
{% block content %}
    <div class="column">
        <div class="column pb-2 is-full">
            <h1 class="title">Popular MRT routes on Weekends and Weekdays</h1>
            <h2 class="subtitle">Popular Routes</h2>
            <form method="GET">
                <b-field label="Search..." label-position="on-border">
                    <b-input name="filter" placeholder="Station Code" type="search" value="{{ request.args.get('filter') or '' }}"></b-input>
                    <p class="control">
                        <b-button tag="button" native-type="submit" class="button is-primary">Search</b-button>
                    </p>
                </b-field>
            </form>
        </div>
        <div class="column section is-full">
            <h3 class="title">Stations</h3>

            <div class="column">
                {% for station, week in results.items() %}
                    {% set from, to = station.split(':') %}
                    <b-collapse class="card" animation="slide" :open="false">
                        <div
                                slot="trigger"
                                slot-scope="props"
                                class="card-header"
                        >
                            <p class="card-header-title">
                                {{ from }} to {{ to }}
                            </p>
                            <a class="card-header-icon">
                                <b-icon :icon="props.open ? 'menu-up' : 'menu-down'"></b-icon>
                            </a>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <section class="pt-1">
                                    <div class="levels columns">
                                        {% for weekend in week.weekend %}
                                            <div class="level-item has-text-centered column">
                                                <div>
                                                    <p class="heading" title="Time">{{ weekend.time }}</p>
                                                    <p class="title has-text-grey-dark" title="Total Trips">{{ weekend.totaltrip }}</p>
                                                </div>
                                            </div>
                                        {% else %}
                                            <p class="title has-text-grey-dark">No data!</p>
                                        {% endfor %}
                                    </div>
                                </section>

                            </div>
                        </div>
                    </b-collapse>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
